<audio  #bgm loop>
  <source src="/assets/bgm.mp3" type="audio/mpeg">
</audio>
<div #container class="container">
  <canvas #canvas class="ground">
  </canvas>
</div>
<app-joystick #joystick [mode]="mode"></app-joystick>
<app-speed-up #speedUp></app-speed-up>
<app-menu [(visibility)]="menuVisibility" (startSingleGame)="startSingleGame()" (startOnlineGame)="startOnlineGame()"> </app-menu>
<app-rank #rank [score]="dragon?.score"></app-rank>
<app-gameover [(visibility)]="gameoverVisibility" [score]="dragon?.score" [time]="totalTime"></app-gameover>